
<html dir="rtl">

<div class="uk-padding">

<p>
  الأول الأبتدائي
</p>
<!-- <div class="uk-child-width-1-5@s uk-grid-match" uk-grid> -->
  <div class=" uk-card uk-grid-collapse uk-child-width-1-3@s" uk-grid>

      <div>
        <div class="uk-card uk-card-hover uk-card-body">
          <div class="uk-card-media-top uk-cover-container">
            <a class="uk-button uk-button-default" href="https://firebasestorage.googleapis.com/v0/b/employee-391ce.appspot.com/o/firstgrad%2F%D8%A7%D9%84%D9%82%D8%B1%D8%A7%D9%86%20%D8%A7%D9%84%D9%83%D8%B1%D9%8A%D9%85.pdf?alt=media&token=d52225b0-382f-4408-b01a-9da599041035">
              <img src="assets\first grade\cover\القران الكريم.jpg" alt="" uk-cover>
                      <canvas width="800" height="1500"></canvas>
               </a>
           </div>
         </div>

            <!-- <h3 class="uk-card-title">القران الكريم</h3> -->
    </div>
    <div>
          <div class="uk-card uk-card-hover uk-card-body">
            <div class="uk-card-media-top uk-cover-container">
              <a class="uk-button uk-button-default" href="https://firebasestorage.googleapis.com/v0/b/employee-391ce.appspot.com/o/firstgrad%2F%D9%82%D8%B1%D8%A7%D8%A6%D8%AA%D9%8A.pdf?alt=media&token=985bec53-0a20-4ad4-8c14-da40dd0cdc33">
                 <img src="assets\first grade\cover\قرائتي.jpg" alt="" uk-cover>
                 <canvas width="800" height="1500"></canvas>

                 </a>
             </div>

              <!-- <h3 class="uk-card-title">قراءتي</h3> -->
          </div>
      </div>
      <div>
            <div class="uk-card uk-card-hover uk-card-body">
              <div class="uk-card-media-top uk-cover-container">
                <a class="uk-button uk-button-default" href="elementry">
                  <img src="assets\first grade\cover\الرياضيات تمرينات.jpg" alt="" uk-cover>
                  <canvas width="800" height="1500"></canvas>

                   </a>
               </div>

                <!-- <h3 class="uk-card-title">العلوم</h3> -->
            </div>
        </div>
        <div>
              <div class="uk-card uk-card-hover uk-card-body">
                <div class="uk-card-media-top uk-cover-container">
                  <a class="uk-button uk-button-default" href="https://firebasestorage.googleapis.com/v0/b/employee-391ce.appspot.com/o/firstgrad%2F%D8%A7%D9%84%D8%B9%D9%84%D9%88%D9%85%20%D8%AA%D9%85%D8%B1%D9%8A%D9%86%D8%A7%D8%AA.pdf?alt=media&token=34a2d324-f5f9-4487-8ed1-86fdf3e2cd96">
                     <img src="assets\first grade\cover\العلوم تمرينات.jpg" alt="" uk-cover>
                     <canvas width="800" height="1500"></canvas>

                     </a>
                 </div>

                  <!-- <h3 class="uk-card-title">العلوم تمرينات</h3> -->
              </div>
          </div>
          <div class="uk-card uk-card-hover uk-card-body">
            <div class="uk-card-media-top uk-cover-container">
              <a class="uk-button uk-button-default" href="assets\first grade\القران الكريم.pdf">
                 <img src="assets\first grade\cover\القران الكريم.jpg" alt="" uk-cover>
                 <canvas width="800" height="1500"></canvas>

                 </a>
             </div>

              <!-- <h3 class="uk-card-title uk-cover-container">الرياضيات</h3> -->
          </div>
          <div class="uk-card uk-card-hover uk-card-body">
            <div class="uk-card-media-top uk-cover-container">
              <a class="uk-button uk-button-default" href="https://firebasestorage.googleapis.com/v0/b/employee-391ce.appspot.com/o/firstgrad%2F1math%D8%AA%D9%85%D8%B1%D9%8A%D9%86%D8%A7%D8%AA.pdf?alt=media&token=05ff3c54-a92a-4c70-baef-ff231f094177">
                 <img src="assets\first grade\cover\الرياضيات تمرينات.jpg" alt="" uk-cover>
                 <canvas width="800" height="1500"></canvas>

                 </a>
             </div>

              <!-- <h3 class="uk-card-title">الرياضيات تمرينات</h3> -->
          </div>
</div>

<!-- <div class=" uk-grid-collapse uk-child-width-1-5@s" uk-grid>
  <div>

    </div>
    <div>

      </div>
      <div> -->
            <!-- <div class="uk-card uk-card-hover uk-card-body">
              <div class="uk-card-media-top uk-cover-container">
                <a class="uk-button uk-button-default" href="elementry">
                   <img src="assets\img\elementry.jpg" alt="">
                   </a>
               </div>

                <h3 class="uk-card-title">Hover</h3>
            </div>
        </div>
        <div>
              <div class="uk-card uk-card-hover uk-card-body">
                <div class="uk-card-media-top uk-cover-container">
                  <a class="uk-button uk-button-default" href="elementry">
                     <img src="assets\img\elementry.jpg" alt="">
                     </a>
                 </div>

                  <h3 class="uk-card-title">Hover</h3>
              </div>
          </div> -->
</div>
<html dir="rtl">
