<html dir="rtl">



<div class="main">

<div class="uk-padding">

<div class="card-deck">

  <!-- elementry card-->
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">المرحلة الابتدائية</h2>
      <a class="uk-button uk-button-default" uk-toggle="target: #modal-elementry">

    <img class="card-img-top" src="assets\img\elementry.jpg" alt="Card image cap">
      <!-- This is a button toggling the modal with the default close button -->
      <!-- <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-elementry">اذهب</button> -->
</a>
      <!-- This is the modal with the default close button -->
      <div id="modal-elementry" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h2 class="uk-modal-title">المرحلة الابتدائية</h2>
              <div class="list-group">

  <a href="firstgrade" class="list-group-item">الصف الاول الابتدائي</a>
  <a href="#" class="list-group-item">الصف الثاني الابتدائي</a>
  <a href="#" class="list-group-item">الصف الثالث الابتدائي</a>
  <a href="#" class="list-group-item">الصف الرابع الابتدائي</a>
  <a href="#" class="list-group-item">الصف الخامس الابتدائي</a>
  <a href="#" class="list-group-item">الصف السادس الابتدائي</a>

  <!-- <button type="button" class="list-group-item list-group-item-action">الصف الاول الابتدائي</button>
  <button type="button" class="list-group-item list-group-item-action">الصف الثاني الابتدائي</button>
  <button type="button" class="list-group-item list-group-item-action">الصف الثالث الابتدائي</button>
  <button type="button" class="list-group-item list-group-item-action">الصف الرابع الابتدائي</button>
  <button type="button" class="list-group-item list-group-item-action">الصف الخامس الابتدائي</button>
  <button type="button" class="list-group-item list-group-item-action">الصف السادس الابتدائي</button> -->

</div>
          </div>
      </div>

    </div>
  </div>
  <!-- end of elementry card-->

  <!-- Middle card-->
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">المرحلةالمتوسطة</h2>
      <a class="uk-button uk-button-default" uk-toggle="target: #modal-middle">

    <img class="card-img-top" src="assets\img\middle.gif" alt="Card image cap">
</a>
      <!-- This is a button toggling the modal with the default close button -->
      <!-- <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-middle">اذهب</button> -->

      <!-- This is the modal with the default close button -->
      <div id="modal-middle" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h2 class="uk-modal-title">المرحلةالمتوسطة</h2>
              <div class="list-group">
                <a href="#" class="list-group-item">الاول المتوسط</a>
                <a href="#" class="list-group-item">الثاني المتوسط</a>
                <a href="#" class="list-group-item">الثالث المتوسط</a>

              <!-- <button type="button" class="list-group-item list-group-item-action">الصف الاول المتوسط</button>
              <button type="button" class="list-group-item list-group-item-action">الصف الثاني المتوسط</button>
              <button type="button" class="list-group-item list-group-item-action">الصف الثالث المتوسط</button> -->
            </div>

          </div>
      </div>
    </div>
  </div>
  <!-- End of Middle card-->

  <!-- high card-->
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">المرحلةالاعدادية</h2>
      <a class="uk-button uk-button-default" uk-toggle="target: #modal-high">

    <img class="card-img-top" src="assets\img\high.jpg" alt="Card image cap">
</a>
      <!-- This is a button toggling the modal with the default close button -->
      <!-- <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-high">اذهب</button> -->

      <!-- This is the modal with the default close button -->
      <div id="modal-high" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h2 class="uk-modal-title">المرحلةالاعدادية</h2>
              <div class="list-group">
                <a href="#" class="list-group-item">الفرع العلمي</a>
                <a href="#" class="list-group-item">الفرع الادبي</a>
  <!-- <button type="button" class="list-group-item list-group-item-action">العلمي</button>
  <button type="button" class="list-group-item list-group-item-action">الادبي</button> -->
</div>
          </div>
      </div>
    </div>
  </div>
  <!--End of high card-->

</div>
</div>
</div>
