.uk-table{
  text-align: right;


}
.uk-card{

  padding-right: 180px;
  text-align: right;
font-family: sans-serif;
}
 th {
   text-align: right;
 }

.uk-modal{
  text-align: right;
}
.card2 {
  text-align: right;
}
