<html dir="rtl">

<div class="uk-padding">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">

    <fieldset class="uk-fieldset">
      <legend class="uk-legend">التسجيل</legend>
      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="البريد الالكتروني" name="email" [(ngModel)]="email">
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="كلمة السر" name="password" [(ngModel)]="password">
      </div>
     
      <p uk-margin>
        <button class="uk-button uk-button-primary" (click)="mySignup()">تسجبل</button>
      </p>

    </fieldset>





</div>

</div>
